<html>
<head></head>


<body>
    <ul>
    {{#posts}} 

              <li>
                <form method="POST" action="/delete-post">
                <label>{{name}} {{body}}{{category}} </label>
                <input type="hidden" value = {{id}} name="postId" />
                <button>Delete</button>
                </form>
            </li>

    {{/posts}}
    </ul>

</body>
</html>